* {
  box-sizing: border-box;
}

body {
  font-family:'Open Sans', sans-serif;
  height: 100vh;
}

header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  width: 100%;
}

h1 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-top: 5px;
}

.yo {
  color: #FFC30C;
}

.search-form {
  display: flex;
  width: 33%;
}

#search-btn {
  background-color: #C7D3D8;
  border: none;
  border-radius: 2.5px 0 0 2.5px;
  height: 50px;
  padding: 0;
  width: 50px;
}

.search-img {
  height: 60%;
  width: 60%;
}

#search-input {
  border-radius: 0px 2.5px 2.5px 0;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 50px;
  padding:10px;
  width: 100%;
}

/* Nav Bar */

nav {
  background-color: #587A8A;
  border-right: 2px solid #3C6577;
  height: auto;
  width: 33.3%;
}

.task-title-label {
  color: #C7D3D8;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 7% 0% 0% 2%;
  text-align: left;
}

.task-title-input {
  border-radius: 2.5px;
  border: 2px solid #1F1F3D;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height:50px;
  margin: 2%;
  padding:10px;
  width: 96%;
}

.task-item-label {
  color: #C7D3D8;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 7% 0% 0% 2%;
  text-align: left;
}

.add-btn-container {
  display: flex;
  margin: 2%;
  width: 96%;
}

.task-item-input {
  border: 2px solid #1F1F3D;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 50px;
  padding:10px;
  width: 90%;
}

.add-task-item-btn {
  background-color: #1F1F3D;
  border-radius: 0 2.5px 2.5px 0;
  border: 2px #1F1F3D;
  height: 50px;
  padding: 2%;
  width: 50px;
}

.nav-btn {
  background-color: #1F1F3D;
  border-radius:2.5px;
  border: #1F1F3D;
  color:#FFF;
  font-family:'Open Sans', sans-serif;
  font-size:20px;
  font-weight:600;
  height:50px;
  margin:2%;
  width:96%;
}

.task-form-top-section {
  border-bottom: 2px solid #3C6577;
}

#clear-all-btn {
  margin-bottom: 8%;
}

#filter-btn {
  margin-top: 8%;
}

main {
  display: flex;
  height: 90%;
}

/* Task-List Display Area */

.card-display-area {
  background-color: #F3F6F7;
  column-gap: 30px;
  columns: 2 250px;
  height: auto;
  padding: 30px;
  width: 66.7%;
}

.card-template {
  background-color: #F9FDFF;
  border: 2px solid #C7D3D8;
  display: inline-block;
  margin: 0 30px 30px 0;
  max-width:350px;
  min-height: 200px;
  min-width: 250px;
  padding: 10px 5px 5px 5px;
  width: 100%;
}

.card-title {
  color: #1F1F3D;
  font-family:'Open-Sans', sans-serif;
  font-weight: 800;
  font-size: 24px;
  height: 50px;
  border-bottom: 2px solid #C7D3D8;
  padding:10px;
}

.card-main {
  min-height: 125px;
}

.card-task-list {
  font-family: 'Open-Sans', sans-serif;
  color: #1F1F3D;
  font-weight: 400;
  font-size:20px;
  padding:20px 10px;
  width:100%;
}

.card-footer {
  align-items: flex-end;
  border-top: 2px solid #C7D3D8; 
  color: #1F1F3D;
  color:#486F7F;
  display: flex;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
  height: 50px;
  justify-content: space-between;
  padding: 5px 10px 0px 10px;
}

.card-urgent-btn
.card-delete-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 40px;
}

.card-footer-text {
  color: #587A8A;
  font-size: 12px;
  margin-top: 5px;
}

.footer-img {
  height: 20px;
  width: 20px;
  margin-left: 24%;
}

/* Urgent Active */

#card-template-urgent {
  background-color:#FFE79D;
  border: 2px solid #FEC61B;
}

#card-title-urgent {
  border-bottom: 2px solid #FEC61B;
}

#card-footer-urgent {
  border-top: 2px solid #FEC61B;
}

#card-footer-text-urgent {
  color:#B7452D;
}

/*End Urgent Active */